---
const { indhold } = Astro.props;
---

<button>
  <p>{indhold}</p>
</button>

<style>
  button {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: fit-content;
    margin-top: 0.5rem;
  }
</style>
